@model IEnumerable<EcoTravel_MVC.Models.ModelViews.Logement.LogementListItems>

<h3>Mes logements ajoutés</h3>
<ul>
    @foreach (var item in Model)
    {
            <li>
                <h4>@item.nom</h4>
                <p>@item.capacite</p>
                <p>@item.prixNuitPersonne</p>
                <p>@item.descriptionCourte</p>
            </li>
    }
</ul>